<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kdgs.kdgroup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".utills.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_Action"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.SigninActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.ForgotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/str_m_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/str_m_prof"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:label="@string/str_m_chng_pwd"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/str_m_feedback"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:label="@string/str_m_edt_prof"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.AddressActivity"
            android:label="@string/str_p_adrs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:label="@string/str_m_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.AddAddressActivity"
            android:label="@string/str_adrs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.ComplaintActivity"
            android:label="@string/str_m_comp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Action"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>

</manifest>